.navHeader{
display: flex;
justify-content: space-around;

}
.titleProject{
    text-align: center;
    margin-left: 40vw;
}
.menuIcon{
    font-size: 30px;
    cursor: pointer;
    position: relative;
    top: 60px;
    color:rgba(128, 0, 128, 0.515);
}
.menuTitle{
    text-align: center;
    margin-top: 40px;
    font-weight: 800;
    line-height: 1.5cm;
    background: -webkit-linear-gradient(#fffeaa, #283a93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 44px;
}
.ulMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 70vw;
    margin-top: 15px;
    background: -webkit-linear-gradient(#fffeaa6b, #283a934e);
    margin-right: 15px;
    padding: 15px;
    border-radius: 15px;
    gap: 15px;
    width: 300px;
    animation: ease-in 800ms;
}

.menuLinks{
    text-decoration: none;
    color: rgb(87, 87, 87);
    font-weight: 600;
    cursor: pointer;
}

.liMenu{
    list-style: none;
    text-align: center;
    padding:4px;
}
.liMenu:hover{
    background-color: rgba(245, 245, 245, 0.379);
    border-radius: 12px;
    
}
.hidden{
    display: none;
}