.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 50px;
}
.hero {
  width: 500px;
  border-bottom: transparent;
  width: 50vw;
  img{
    object-fit: cover;
    object-position: center center;
  }
}
.register {
  text-align: center;
  color: rgb(48, 48, 48);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 80vh;
  margin: auto;
  margin-top: 40px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 3px 3px 3px 3px rgb(151, 151, 151);
  text-transform: capitalize;

  &__title {
    font-weight: 800;
    line-height: 1.5cm;
    background: -webkit-linear-gradient(#fffeaa, #283a93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 44px;
  }
  &__subtitle {
    font-size: 12px;
    color: rgb(138, 138, 138);
    font-weight: 500;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  &__input {
    width: 60%;
    height: 40px;
    border: solid 1.5px;
    border-image: linear-gradient(to right, #98986f ,rgb(147, 56, 147) , #2552ad) 1;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
    color: rgba(185, 185, 185, 0.691);
  }
  &__btn{
    width: 100px;
    height: 40px;
    align-self: center;
    border-radius: 15px;
    background-color: purple;
    border: none;
    color: white;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
  }
  &__btn:hover{
    transform: scale(1.1);
  }
}
.textToLogin{
   text-align: center;
   color: rgb(138, 138, 138);
   font-size: 16px;
   font-weight: 500;
}
.link{
    text-decoration: none;
    color: rgba(168, 43, 226, 0.573);
}
.link:hover{
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width: 770px) {
    .container{
        flex-direction: column;
    }
    .hero{
        width: 60vw;
        position: relative;
        img{
            width: 100%;
        }
    }
    .register{
        position: absolute;
        top: 45%;
        width: 80vw;
    }
}
@media (max-width: 400px) {
    .hero{
        width: 60vw;
        position: relative;
        img{
            width: 100%; 
        }
    }
    .register{
        position: absolute;
        top: 25%;
        width: 80vw;
    }
}
@media (max-width: 320px) {
    .register{
        position: absolute;
        top: 20%;
        width: 80vw;
        height: 70vh;

        &__title{
            font-size: 32px;
        }
    }
    .form__input{
        width: 40vw;
        height: 30px;
    }
}